* {
    font-family: Arial, Helvetica, sans-serif;
}


body {
    background-image: linear-gradient(to right, #3C9FDE, #6544FA);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #232b81;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #3C4ADE;
    text-align: center;
    text-shadow: 1px 1px 0px #22297d;
}

h2 {
    color: #3C9FDE;
}

p {
    text-align: justify;
}